@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.main-banner {
    background-image: url('../images/main-banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 618px;
}

.overlay {
    background-color: rgba(37, 17, 128, 0.5);
    min-height: 618px; 
}

header {
    border: 1px solid transparent;
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo {
    background-image: url('../images/danki.logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 40px;
    margin: 40px 0px 0px 0px;
    margin-left: 8px;
}

nav {
    float: right;
    position: relative;
    top: -30px;
    padding-right: 8px;
}

nav li {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
}

#home {
    margin-right: 25px;
    width: 52px;
}

#serviços {
    width: 70px;
    margin-right: 25px;
}

#sobre {
    width: 53px;
    margin-right: 25px;
}

#contato {
    width: 67px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    font-weight: 400;
}

nav li:active {
    text-decoration: underline;
}

nav a:focus {
    outline: none;
}

.main-content-box {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 150px;
}

.main-content {
    color: white;
    max-width: 450px;
    float: right;
}

.main-content h1 {
    font-weight: 400;
    margin-bottom: 10px;
}

.section01 {
    width: 100%;
    background-color: #54346F;
    color: white;
    height: 350px;
    max-height: 500px;
}


.section01-box {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section01-box h1 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}

.section01-box ul {
    padding-left: 20px;
    font-weight: 300;
}

.section01-box li {
    line-height: 25px;
}

.section01-box li:nth-of-type(4) {
    margin-bottom: 15px;
}

.section01-box input{
    background-color: #FE844A;
    border: none;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.section01-box input:hover {
    background-color: #e46e38;
}

.section01-box input:focus {
    outline: none;
}

.section01-box input:active {
    font-size: 13px;
}

.section01-box-left {
    padding: 60px 0px 0px 10px;
    vertical-align: top;
    display: inline-block;
}
.mobile-box {
    background-image: url('../images/mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 300px;
    display: inline-block;
    position: relative;
    top: -150px;
    left: 100px;
}

.section02 {
    width: 100%;
    
}

.section02-box {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.section02-box h1 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 30px;
}

.section02-box p {
    font-weight: 400;
    padding: 0 20px;
    line-height: 30px;
}

.video-box {
    max-width: 600px;
    margin: 40px auto -80px auto;
    position: relative;
    border-radius: 15px;
}

.video {
    --aspect-ratio: 16/9;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio)));
    background-color: gray;
    box-shadow: 0px 0px 19px 1px #00000059;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section03 {
    width: 100%;
}

.section03-box {
    display: flex;
}

.section03-box-left {
    background-color: #9472B3;
    width: 50%;
    padding-top: 90px;
    color: white;
}

.section03-box-left h2 {
    font-weight: 400;
    text-align: right;
    padding: 0px 20px 0px 0px;
}

.section03-box-left p {
    font-weight: 300;
    text-align: right;
    padding: 20px 20px 20px 70px;
}

.section03-box-right {
    background-color: rgb(248, 250, 255);
    padding-top: 90px;
    width: 50%;
}

.section03-box-right-titles {
    display: inline-block;
}

.section03-box-right img {
    max-width: 50px;
    
}

.section03-box-right h2, .section03-box-right h3 {
    padding: 0px 0px 0px 20px;
}

.section03-box-right h2 {
    font-weight: 400;
}

.section03-box-right h3 {
    font-style: italic;
}

.section03-box-right p {
    padding: 0px 70px 0px 20px;
}

.slider-bullets {
    margin-bottom: 20px;
}

.section03-box-right span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: rgb(146, 146, 146);
    border-radius: 10px;
    cursor: pointer;
    margin-right: 3px;
}

.section03-box-right span:nth-of-type(1) {
    background-color: rgb(61, 61, 61);
    margin-left: 20px;
}

.section04 {
    width: 100%;
    background-color: #54346F;
}

.section04-box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    color: white;
    padding: 40px 0;
}

.section04-box-left {
    width: 50%;
    padding: 0px 8px;
}

.section04-box-left form {
    max-width: 400px;
    margin: 0 auto;
}

.section04-box-left h2 {
    font-weight: 400;
    margin-bottom: 15px;
}

.section04-box-left p {
    font-weight: 300;
    margin-bottom: 15px;
}

.section04-box-left input, .section04-box-left textarea {
    display: block;
    width: 100%;
    padding-left: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: none;
} 

.section04-box-left input, .section04-box-left textarea:focus {
    outline: none;
}

.section04-box-left input {
    height: 35px;
}

.section04-box-left textarea {
    height: 85px;
    padding-top: 8px;
    resize: none;
}

.section04-box-left span {
    font-weight: 200;
    font-size: 12px;
}

.section04-box-left input[type="submit"] {
    background-color: rgb(255, 122, 34);
    color: white;
    font-size: 15px;
    padding: unset;
    width: 120px;
    border-radius: 60px;
    margin-top: 8px;
    cursor: pointer;
}

.section04-box-left input[type="submit"]:hover {
    background-color: rgb(255, 138, 60);
}

.section04-box-left input[type="submit"]:active {
    font-size: 14px;
}

.section04-box-right {
    width: 50%;
    padding: 0px 8px;
}

.section04-box-right-content {
    max-width: 400px;
    margin: 0px auto;
}

.section04-box-right-content h2 {
    font-weight: 400;
    margin-bottom: 15px;
}

.section04-box-right-mapwrapper {
    max-width: 300px;
}

.section04-box-right-map {
    --aspect-ratio02: 1/1;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio02)));
    background-image: url('../images/map.png');
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    background-color: #1B252A;
    color: white;
    font-size: 12px;
}

.footer-box {
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.footer-left {
    float: left;
    padding: 50px 0px 0px 10px;
}

.footer-right {
    float: right;
    padding-top: 50px;
    padding: 50px 10px 0px 0px;
}


@media screen and (max-width: 779px) {
    .mobile-box {
        background-image: url('../images/mobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        width: 200px;
        display: inline-block;
        position: relative;
        top: -50px;
        left: 50px;
    }
}

@media screen and (max-width: 680px) {
    .mobile-box {
        display: none;
    }

    .section01 {
        height: 400px;
    }

    .section01-box {
        padding-top: 50px;
    }

    .section01-box-left {
        padding: 0px;
        max-width: 450px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .section01-box-left ul {
        list-style-position: inside;
        padding: 0;
    }
}

@media screen and (max-width: 612px) {

.section03-box-right img {
    display: none;
    
}

}

@media screen and (max-width: 550px) {

    header {
        padding-top: 30px;
    }

    .header-logo {
        width: 180px;
        height: 50px;
        margin: 0 auto;
    }
    
    nav {
        float: none;
        position: initial;
        top: 0;
        padding-right: 0px;
        margin-top: 30px;
    }

    nav ul {
        text-align: center;
    }

    .overlay, .main-banner {
        min-height: 500px;
    }

    .main-content-box {
        max-width: 900px;
        margin: 0 auto;
        padding: 80px 10px 0px 10px;
    }

    .main-content {
        margin: 0 auto;
        max-width: 350px;
        float: none;
    }
}

@media screen and (max-width: 500px) {

    .section02 {
        padding: 0px 10px;        
    }

    .video-box {
        margin: 40px auto 40px auto;
    }

    .section03-box {
        display: block;
    }
    
    .section03-box-left {
        width: 100%;
        padding-top: 30px;
    }
    .section03-box-right {
        padding-top: 30px;
        width: 100%;
    }
    
    
    .section03-box-right img {
        max-width: 50px;
        display: inline-block;
    }

    .section04-box {
        display: block;
        padding: 0;
    }
    
    .section04-box-left {
        width: 100%;
        padding: 0px 8px;
    }

    .section04-box-left form h2 {
        text-align: center;
        padding-top: 15px;
    }

    .section04-box-left form span {
        display: block;
        text-align: center;
    }

    .section04-box-left form input[type="submit"] {
        display: block;
        margin: 10px auto 0px auto;
    }

    .section04-box-right {
        width: 100%;
        padding: 20px 8px;
        
    }
    
    .section04-box-right-content {
        text-align: center;
    }

    .section04-box-right-mapwrapper {
        margin: 0 auto;
    }

    .footer-left {
        float: none;
        padding: 20px 10px 0px 10px;
        text-align: center;
        line-height: 40px;
    }
    
    .footer-right {
        float: none;
        padding-top: 50px;
        padding: 0px 10px;
        text-align: center;
    }
}

@media screen and (max-width: 347px) {
    nav {
        margin: 10px 10px 0px 10px;
        background-color: #fe834a33;
        border-radius: 10px;
        padding-left: 5px;
    }

    nav ul {
        line-height: 35px;
    }

    nav ul li {
        display: block;
    }

    .main-content-box {
        max-width: 900px;
        margin: 0 auto;
        padding: 25px 10px 0px 10px;
    }
}